<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{title}}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script> -->
    <link rel="stylesheet" href="resources/libs/css/bootstrap.css">
    <link rel="stylesheet" href="resources/libs/css/addons/datatables.min.css">
	<link rel="stylesheet" href="resources/libs/css/addons/responsive.dataTables.min.css">
</head>

<script src="resources/libs/js/jquery.js"></script>
<script src="resources/libs/js/popper.min.js"></script>
<script src="resources/libs/js/bootstrap.js"></script>
<script src="resources/libs/js/fontawesome.js"></script>
<script src="resources/libs/js/datatables.min.js"></script>
<script src="resources/libs/js/dataTables.responsive.min.js"></script>

<body class="bg-dark text-light">
    <div class="container">
        {{header}}
        {{content}}
        {{footer}}
    </div>
    
</body>
</html>

